
@{
    ViewBag.Title = "ChuyenMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-categories">
    <nav class="navbar navbar-expand-sm bg-dark">
        <ul class="navbar-nav">
            @foreach (var item in Model)
            {
                <li class="nav-item"><a class="nav-link text-light" href="categories.html" style="margin:auto"><b> @item.TenChuyenMuc</b></a></li>
            }
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="new-post-title">
                    <h2>bài viết mới</h2>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="new-post-title">
                    <h2>video mới</h2>
                </div>
            </div>
        </div>
        <div class="new-post-content">
            <div class="row">

                @Html.Action("ShowPart1Category1","Home")
            
                <div class="col-sm-4">
                    <a href="#"><img src="~/img/hoang.jpg" width="100%" height="250px"></a>
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione reprehenderit sunt cum</a>
                </div>

            </div>
        </div>
        <div class="list">
            <div class="row">

                <div class="col-sm-8">
                    <ul id="myList">                 
                            @Html.Action("ShowPart2Category2", "Home")                                                 
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h1>Hello</h1>
                    <p class="totop">
                        <a class="btn-btn-info" href="#top">Back to top</a>
                    </p>
                </div>



            </div>
        </div>
    </div>
</div>