@model Ungdungdoctintuc.Models.Tin
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<h3 style="text-align:center">@Model.TieuDe </h3>
<div>
    <p style="text-align:justify"><span style="font-weight:bold"></span>@Html.Raw(@Model.NoiDung)</p>
</div>


