@model Ungdungdoctintuc.Models.Tin
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">


    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">



</head>
<body>

    </div>

    <div class="container">
        <div class="row">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">GameK</a></li>
                    <li class="breadcrumb-item"><a href="#">Game online</a></li>
                    <li class="breadcrumb-item"><a href="#">Moba</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lien Minh</li>
                </ol>
            </nav>
        </div>
        <br>
        <div class="col-sm-8">
            <div class="top-detail">
                <!-- <h1 class="title">Coder dep trai Nguyen Tran Anh TuCoder dep trai Nguyen Tran Anh TuCoder dep trai Nguyen Tran Anh Tu</h1> -->
                <h3 style="text-align:center">@Model.TieuDe </h3>
                <br>
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            <!-- Left content -->
            <div class="col-sm-2">

                <div class="left-detail">
                    <p class="name-box">Tin lien quan </p>
                    <a href="#"><div class="left-title">Tham tu Cao Ngoc Nguyen bui bui</div> </a>
                    <br>
                    <a href=""><img src="~/img/hoang.jpg" class="left-img"></a>
                    <div class="left-content">123 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <hr>




                </div>

            </div>
            <!-- Main content -->
            <div class="col-sm-6">
                <p style="text-align:justify"><span style="font-weight:bold"></span>@Html.Raw(@Model.NoiDung)</p>
                <br>
                <hr>
                <div class="cmt">
                    <h5>Hãy để lại bình luận của bạn</h5>
                    <form>
                        <textarea placeholder="Thêm bình luận" class="cmt-box"></textarea>
                        <div class="btn-cmt">
                            <input type="submit" value="Bình luận" class="btn-submit">
                            <button class="btn-cancel">Hủy bỏ</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Left content -->
            <div class="col-sm-4">
                <h2>Quang cao here</h2>
            </div>

        </div>

    </div>



    <!-- JQuery -->
    <script src="~/Scripts/jquery-3.5.1.js"></script>

    <script src="~/Content/js/jquery.timeago.js" type="text/javascript"></script>


    <!-- Main js -->
    <script src="~/Content/js/script.js"></script>
    @*<script src="js/script.js"></script>*@
    @*<script src="bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>

    @*<script src="js/script.js"></script>*@
    <script src="~/Content/js/script.js"></script>
    <footer>
    </footer>
</body>

</html>


