@{
    ViewBag.Title = "Home Page";
}

<div class="container pt-5 change-a">
    <!-- phần 1 -->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">

            <div class="col-sm-4">
                    <a href="#"><img src="~/img/img-news.png" class="img-news" alt="tintuc"></a>
                </div>
                <div class="col-sm-8 px-5 bg-light">
                    <a href="#" class="link-news">
                        <h4>
                            Chiến thắng này sẽ tạo bước đà tâm lý rất tốt cho GAM trước khi bước vào mùa giải VCS Hè
                            2020 đầy khó khăn phía trước.</h4>
                    </a>

                    <p>
                        Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi không nói rõ số điểm
                        cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                    </p>
                    <p>
                        rong phiên xét hỏi chiều 23/5, bị cáo Hoàng Thị Thành cho biết sau khi suy nghĩ rất nhiều cho
                        con về kỳ thi THPT 2018 đã trao đổi với Cầm Thị Bun Sọn (cựu phó trưởng phòng Chính trị Tư
                        tưởng, Sở Giáo dục và Đào tạo Sơn La) vì từng là bạn học. Bà Thành nhờ nâng điểm cho con
                        trai đỗ đại học, vì đã một năm thi trượt.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- phần 2 -->
    <div class="row part-2">
        <div class="col-sm-12">
            <div class="col-sm-4 pt-1 px-1" style="float: left;">
                <div class="px-5 bg-light">
                    <a href="#">
                        <h6>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h6>
                    </a>
                    <p>
                        Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi không nói rõ số
                        điểm cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 pt-1 px-1" style="float: left;">
                <div class="px-5 bg-light ">
                    <a href="#">
                        <h6>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h6>
                    </a>

                    <p>
                        Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi không nói rõ số
                        điểm cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 pt-1 px-1" style="float: left;">
                <div class="px-5 bg-light ">
                    <a href="#">
                        <h6>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h6>
                    </a>
                    <p>
                        Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi không nói rõ số
                        điểm cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- phần 3 -->
    <div class="part-padding change-a">
        <div class="row p-2" style="background-color: #e74c3c;">
            <a href="#">
                <h4>Chính trị</h4>
            </a>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4 " style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không
                                nói rõ số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 each-type">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không nói rõ
                                số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- phần 4 -->
    <div class="part-padding change-a">
        <div class="row p-2" style="background-color: #e74c3c;">
            <a href="#">
                <h4>Thể Thao</h4>
            </a>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không
                                nói rõ số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 each-type">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không nói rõ
                                số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- phần 4 -->

    <div class="part-padding change-a">
        <div class="row p-2" style="background-color: #e74c3c;">
            <a href="#">
                <h4>Kinh Doanh</h4>
            </a>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không
                                nói rõ số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 each-type">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không nói rõ
                                số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

