@using Ungdungdoctintuc.Models
@model List<Tin>


@{
    ViewBag.Title = "Home Page";
    var urlhinh = (string)ViewBag.UrlHinh;
}

<div class="container pt-5 change-a">
    <!-- phần 1 -->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">


                @foreach (var item in Model)
                {
                    <div class="col-sm-4">
                       @Html.Action("LayUrl", "Home", new { id = item.IdTin })
                    </div>
                    <div class="col-sm-8 px-5 bg-light">
                        <a href="#" class="link-news">
                            <h4>
                                @item.TieuDe
                            </h4>
                        </a>

                        <p>
                            @item.TomTat
                        </p>

                    </div>
                }

            </div>
        </div>
    </div>
    <!-- phần 2 -->
    <div class="row part-2">
        <div class="col-sm-12">
            <div class="col-sm-4 pt-1 px-1" style="float: left;">
                <div class="px-5 bg-light">
                    <a href="#">
                        <h6>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h6>
                    </a>
                    <p>
                        Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi không nói rõ số
                        điểm cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 pt-1 px-1" style="float: left;">
                <div class="px-5 bg-light ">
                    <a href="#">
                        <h6>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h6>
                    </a>

                    <p>
                        Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi không nói rõ số
                        điểm cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 pt-1 px-1" style="float: left;">
                <div class="px-5 bg-light ">
                    <a href="#">
                        <h6>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h6>
                    </a>
                    <p>
                        Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi không nói rõ số
                        điểm cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- phần 3 -->
    <div class="part-padding change-a">
        <div class="row p-2" style="background-color: #e74c3c;">
            <a href="#">
                <h4>Chính trị</h4>
            </a>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4 " style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không
                                nói rõ số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 each-type">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không nói rõ
                                số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- phần 4 -->
    <div class="part-padding change-a">
        <div class="row p-2" style="background-color: #e74c3c;">
            <a href="#">
                <h4>Thể Thao</h4>
            </a>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không
                                nói rõ số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 each-type">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không nói rõ
                                số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- phần 4 -->

    <div class="part-padding change-a">
        <div class="row p-2" style="background-color: #e74c3c;">
            <a href="#">
                <h4>Kinh Doanh</h4>
            </a>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không
                                nói rõ số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 each-type">
                    <div class="row">
                        <div class="col-sm-5" style="float: left;">
                            <a href="#">
                                <img src="~/img/img-news.png" class="img-news-part3"
                                     alt="tintuc">
                            </a>
                        </div>
                        <div class="col-sm-7 px-4" style="float: left;">
                            <a href="#">
                                <h5>Phụ huynh nhờ nâng điểm để con 'vào bằng được trường công an'</h5>
                            </a>

                            <p>
                                Bà Hoàng Thị Thành (cựu Chủ tịch Hội Nông dân huyện Quỳnh Nhai) khai khi
                                không nói rõ
                                số điểm
                                cần nâng mà chỉ yêu cầu để đỗ vào trường công an.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

