@model IEnumerable<Ungdungdoctintuc.Models.Tin>

@foreach (var item in Model)
{
    <div class="col-sm-4 pt-1 px-1 row-2" >
        <div class="px-5">
            <a href="@Url.Action("Details","Home",new { id=item.IdTin})">
                <h5 class="title-design">@item.TieuDe</h5>
            </a>
            <p style="font-size: 2rem">
               @Html.Raw(@item.TomTat)
            </p>
        </div>
    </div>
}

