
@model IEnumerable<Ungdungdoctintuc.Models.Tin>

@foreach (var item in Model)
{
    <div class="col-sm-4">
        <a href="@Url.Action("Details","Home",new { id=item.IdTin})"><img src="@Url.Content(item.UrlAnhBia)" class="img-new-cat"></a>
        <a href="@Url.Action("Details","Home",new { id=item.IdTin})" class="tit-new-cat text-decoration-none">@item.TieuDe</a>
    </div>
}
