
@model IEnumerable<Ungdungdoctintuc.Models.Tin>

@foreach (var item in Model)
{
    <div class="col-sm-4">

        <a href="#"><img src="@item.UrlAnhBia" width="100%" height="250px"></a>
        <a href="#">@item.TomTat</a>
    </div>

}
