@model IEnumerable<Ungdungdoctintuc.Models.Tin>

@foreach (var item in Model)
{
    <div class="col-sm-4 pt-1 px-1" style="float: left;">
        <div class="px-5 bg-light">
            <a href="@Url.Action("Details","Home",new { id=item.IdTin})">
                <h6>@item.TieuDe</h6>
            </a>
            <p>
               @Html.Raw(@item.TomTat)
            </p>
        </div>
    </div>
}

